<div id="register_container_div">
    <div id="form_register_container_div">
        <img
            id="logo_honde_img"
            src="../../assets/nav_barre/logoinstagram.png"
            alt="logo instagram"
          />
          <div id="message_element_form_register_container_div" class="element_form_register_container_div">
            <span id="message_element_form_register_container_span">Inscrivez-vous pour voir les <br/> photos et vidéos de vos amis.</span>
          </div>
        <form>
            <div
              id="email_form_register_container_div"
              class="element_form_register_container_div"
            >
              <label for="email_user"></label>
              <input
                id="email_user"
                class="element_form_register_container_center"
                name="email_user"
                type="text"
                placeholder=" Votre email"
              />
            </div>
            <!--FIRST NAME-->
            <div
              id="first_name_form_register_container_div"
              class="element_form_register_container_div"
            >
              <label for="first_name_user"></label>
              <input
                id="first_name_user"
                class="element_form_register_container_center"
                name="first_name_user"
                type="text"
                placeholder=" Votre nom"
              />
            </div>

            <!--LAST NAME-->
            <div
              id="last_name_form_register_container_div"
              class="element_form_register_container_div"
            >
              <label for="last_name_user"></label>
              <input
                id="last_name_user"
                class="element_form_register_container_center"
                name="last_name_user"
                type="text"
                placeholder=" Votre prénom"
              />
            </div>

            <!--PASSE WORD-->
            <div
              id="password_form_register_container_div"
              class="element_form_register_container_div"
            >
              <label for="password_user"></label>
              <input
                id="password_user"
                class="element_form_register_container_center"
                type="text"
                name="password"
                placeholder=" Votre mot de passe"
              />
            </div>

            <!--CONFPASSE WORD-->
            <div
              id="conf_password_form_register_container_div"
              class="element_form_register_container_div"
            >
              <label for="conf_password_user"></label>
              <input
                id="conf_password_user"
                class="element_form_register_container_center"
                type="text"
                name="conf_password_user"
                placeholder=" Confirmer votre mot de passe"
              />
            </div>

            <div id="button_user" class="element_form_register_container_div">
              <button
                id="button_user"
                class="element_form_register_container_center"
                type="submit"
              >
                Connexion
              </button>
            </div>
          </form>
          <div id="info_session_element_form_register_container_center_div">
            En vous inscrivant, vous acceptez nos Conditions générales. Découvrez comment nous recueillons, utilisons et partageons vos données en lisant notre Politique d’utilisation des données et comment nous utilisons les cookies et autres technologies similaires en consultant notre Politique d’utilisation des cookies.
          </div>
    </div>
</div>