<div id="home_container_div">
    <div id="home_container_presentation_div">
        <div id="iphone_home_presentation_div">
            <img id="iphone_presentation_home_img" src="../../assets/home_page/iphone_home_page_presentation.png" alt="iphone photo de presentation">
        </div>
        <div id="register_home_presentation_container_div">
            <div id="logo_honde_div">
                <img id="logo_honde_img" src="../../assets/nav_barre/logoinstagram.png" alt="logo instagram">
            </div>
            <div id="form_home_container_div">
                <form>
                    <div id="email_form_home_container_div" class="element_form_home_container_div">
                        <label for="email_user"></label>
                        <input id="email_user" class="elemnt_form_home_container_input" name="email" type="text">
                    </div>
                    <div id="password_form_home_container_div" class="element_form_home_container_div">
                        <label for="password_user"></label>
                        <input id="password_user" class="elemnt_form_home_container_input" type="text" name="password">
                    </div>
                    <div id="button_user" class="element_form_home_container_div">
                        <button id="button_user" class="elemnt_form_home_container_input" type="submit">Connexion</button>
                    </div>
                </form>
                <p>OU</p>
            </div>
            <div>
                
                <p>Se connecter avec Facebook</p>
                <p>Mo de passe oublié ?</p>
            </div>
            <div>
                <p>Vous n'avez pas de compte ? <span>Inscrivez-vous</span></p>
            </div>
            <div>
                <p>Téléchargez l'application.</p>
                <span>IMAGE 1</span><span>IMAGE 2</span>
            </div>
        </div>
    </div>
</div>