<div id="home_container_div">
  <div id="home_container_presentation_div">
    <!--IMAGE DE PRESENTATION-->
    <div id="iphone_home_presentation_div">
      <img
        id="iphone_presentation_home_img"
        src="../../assets/home_page/iphone_home_page_presentation.png"
        alt="iphone photo de presentation"
      />
    </div>

    <!--FORMULAIRE DE CONNECTION-->
    <div id="register_home_presentation_container_div">
      <div id="form_home_container_div">
        <div id="form_home_container_center_div">
          <img
            id="logo_honde_img"
            src="../../assets/nav_barre/logoinstagram.png"
            alt="logo instagram"
          />
          <form>
            <div
              id="email_form_home_container_div"
              class="element_form_home_container_div"
            >
              <label for="email_user"></label>
              <input
                id="email_user"
                class="element_form_home_container_center"
                name="email"
                type="text"
                placeholder=" Votre email"
              />
            </div>
            <div
              id="password_form_home_container_div"
              class="element_form_home_container_div"
            >
              <label for="password_user"></label>
              <input
                id="password_user"
                class="element_form_home_container_center"
                type="text"
                name="password"
                placeholder=" Votre mot de passe"
              />
            </div>
            <div id="button_user" class="element_form_home_container_div">
              <button
                id="button_user"
                class="element_form_home_container_center"
                type="submit"
              >
                Connexion
              </button>
            </div>
          </form>
          <p>OU</p>
        </div>
      </div>


      <a href="accounts/password/reset">
        <div class="link_home_container_div">
            <span class="link_resetpassword_home_container_span">Mot de passe oublié ?</span>
        </div>
      </a>

      <a href="accounts/emailsignup">
        <div class="link_home_container_div">
            Vous n'avez pas de compte ? <span class="link_register_home_container_span" > Inscrivez-vous</span>
        </div>
      </a>
    </div>
  </div>
</div>
<!--FOOTEUR-->
<div id="home_container_footeur_div">
  <div id="home_container_footeur_information_div">
    <div id="home_container_presentation_footeur_div">
      <a href="http://">
        <div>À propos</div>
      </a>
      <a href="http://">
        <div>Blog</div>
      </a>
      <a href="http://">
        <div>Emplois</div>
      </a>
      <a href="http://">
        <div>Aide</div>
      </a>
      <a href="http://">
        <div>API</div>
      </a>
      <a href="http://">
        <div>Confidentialité</div>
      </a>
      <a href="http://">
        <div>Comptes princiaux</div>
      </a>
      <a href="http://">
        <div>Hashtags</div>
      </a>
      <a href="http://">
        <div>Lieux</div>
      </a>
    </div>
    <div id="home_container_droite_footeur_div">
      <a href="http://">
        <div>Lieux</div>
      </a>
      <a href="http://">
        <div>© 2021 Honde par Maboza Hondi Samuel</div>
      </a>
    </div>
  </div>
</div>
