<div id="mpt_perdu_container_div">
    <div id="form_mpt_perdu_container_div">
        <img
            id="logo_honde_img"
            src="../../assets/nav_barre/logoinstagram.png"
            alt="logo instagram"
          />
          <div id="message_element_form_mpt_perdu_container_div" class="element_form_mpt_perdu_container_div">
            <span id="message_element_form_mpt_perdu_container_span">Entrez votre adresse e-mail,
                et nous vous enverrons un lien pour récupérer votre compte.</span>
          </div>
        <form>
            <div
              id="email_form_mpt_perdu_container_div"
              class="element_form_mpt_perdu_container_div"
            >
              <label for="email_user"></label>
              <input
                id="email_user"
                class="element_form_mpt_perdu_container_center"
                name="email_user"
                type="text"
                placeholder=" Votre email"
              />
            </div>
    
            <div id="button_user" class="element_form_mpt_perdu_container_div">
              <button
                id="button_user"
                class="element_form_mpt_perdu_container_center"
                type="submit"
              >
                Connexion
              </button>
            </div>
          </form>
          <p>OU</p>
          <div id="info_session_element_form_mpt_perdu_container_center_div">
            <a href="accounts/emailsignup/">
                <div>
                    Créer un compte
                </div>
            </a>
            <a href="accounts/login">
                <div>
                    Revinir à l'écran connexion
                </div>
            </a>
          </div>
    </div>
</div>