<!--CONNECTION-->
<ng-template [ngIf]="autorisation" [ngIfElse]="deconnecte">
    <div id="nav_barre_connection_div" >
        <div id="logo_honde_div" >
            <a href="/">
                <img id="logo_honde_img"  src="../../assets/nav_barre/logoinstagram.png" alt="" srcset="">
            </a>
        </div>
    
        <div id="relationship_div">
            <input id="search_relationship_input" placeholder="Rechercher" type="text">
        </div>
    
        <!--AUTENTIFICATION-->
        <div id="authentification_div">

            <a href="/">
                <i id="connection_authentification_a" class="fas fa-home"></i>
            </a>


            <a href="/direct/inbox/">
                <i class="far fa-paper-plane"></i>
            </a>

            
            <!--COMPASS-->
            <a href="/explore">
                <i *ngIf="compassclick; else compassnotclick" (click)="onclickcompass()" id="register_authentification_a" class="fas fa-compass" (click)="onclickcompass()" ></i>
            </a>
            
            <ng-template #compassnotclick>
                <i (click)="onclickcompass()" id="register_authentification_a" class="far fa-compass" #compassnotclick></i>
            </ng-template>

            
            <!--HEAR-->
            <ng-template [ngIf]="hearclick" [ngIfElse]="hearnotclick">
                <i (click)="onclickhear()" id="register_authentification_a" class="fas fa-heart"></i>
                <div id="hear_element_authentification_div">
                    <p id="title_hear_element_authentification_p" >Ce mois-ci</p>
                    <div id="like_element_authentification_div">
                        <img id="img_personnage_like_authentification_a" src="../../assets/nav_barre/nabila.jpg" alt="">
                        <div id="info_for_even_authentification_div">
                            <span id="id_even_authentification_div" >Nabila</span> a mentionné votre nom dans un commentaire : @roimike merci mon pote. <time id="when_like_authentification_time">1 sem</time>
                        </div>
                        <img id="img_mentinonnee_like_authentification_a" src="../../assets/nav_barre/chat.jpg" alt="">
                    </div>
                </div>
            </ng-template>
            
            <ng-template #hearnotclick>
                <i (click)="onclickhear()" id="register_authentification_a" class="far fa-heart" #hearnotclick></i>
                
            </ng-template>


            <!--IMG PERSONNE-->

            <ng-template [ngIf]="imgpersonneclick" [ngIfElse]="imgpersonnenotclick">
                <img (click)="onclickimgpersonne()" id="img_personnage_authentification_a" src="../../assets/nav_barre/boo.jpg" alt="">
                <div id="img_personne_element_authentification_div">
                    <!--PROFIL USER ACCOUNT-->
                    <div class="user_account_authentification_div">
                        <div class="icon_user_account_authentification_div">
                            <i class="far fa-user-circle"></i>
                        </div>
                        <div class="title_user_account_authentification_div">
                            Profil
                        </div>
                    </div>
                    <!--SAVE USER ACCOUNT-->
                    <div class="user_account_authentification_div">
                        <div class="icon_user_account_authentification_div">
                            <i class="far fa-bookmark"></i>
                        </div>
                        <div class="title_user_account_authentification_div">
                            Enregistré
                        </div>
                    </div>
                    <!--SET USER ACCOUNT-->
                    <div class="user_account_authentification_div">
                        <div class="icon_user_account_authentification_div">
                            <i class="fas fa-cog"></i>
                        </div>
                        <div class="title_user_account_authentification_div">
                            Paramètres
                        </div>
                    </div>
                    <div class="user_account_authentification_div">
                        <div class="right_user_account_authentification_div">
                            Hondi vous aimez
                        </div>
                    </div>
                    <div class="user_account_authentification_div">
                        <div class="right_user_account_authentification_div">
                            Déconnexion
                        </div>
                    </div>
                </div>
            </ng-template>
            
            <ng-template #imgpersonnenotclick>
                <img (click)="onclickimgpersonne()" id="img_personnage_authentification_a" src="../../assets/nav_barre/boo.jpg" alt="">
                
            </ng-template>

        </div>
    </div>
</ng-template>


<!--DECONNECTION-->
<ng-template #deconnecte>
    <div id="nav_barre_deconnection_div">
        <div id="logo_honde_div" >
            <img id="logo_honde_img"  src="../../assets/nav_barre/logoinstagram.png" alt="" srcset="">
        </div>
    
        <div id="relationship_div">
            <input id="search_relationship_input" placeholder="Rechercher" type="text">
        </div>
    
        <div id="authentification_div">
            <a id="connection_authentification_a" href="http://">
                <button id="connection_authentification_btn">Se connecter</button>
            </a>
            <a id="register_authentification_a" href="http://">
                <button id="register_authentification_btn">S'inscrire</button>
            </a>
        </div>
    </div>
</ng-template>
    





