<div id="login_perdu_container_div">
    <div id="form_login_perdu_container_div">
        <img
            id="logo_honde_img"
            src="../../assets/nav_barre/logoinstagram.png"
            alt="logo instagram"
          />
        <form>

            <!--EMAIL_USER-->
            <div
              id="email_form_login_perdu_container_div"
              class="element_form_login_perdu_container_div"
            >
              <label for="email_user"></label>
              <input
                id="email_user"
                class="element_form_login_perdu_container_center"
                name="email_user"
                type="text"
                placeholder=" Votre email"
              />
            </div>


            <!--PWD_USER-->

            <div
              id="password_form_login_perdu_container_div"
              class="element_form_login_perdu_container_div"
            >
              <label for="password_user"></label>
              <input
                id="password_user"
                class="element_form_login_perdu_container_center"
                name="password_user"
                type="text"
                placeholder=" Votre mot de passe"
              />
            </div>

            <!--BUTTON_USER-->
    
            <div id="button_user" class="element_form_login_perdu_container_div">
              <button
                id="button_user"
                class="element_form_login_perdu_container_center"
                type="submit"
              >
                Connexion
              </button>
            </div>
          </form>
          <p>OU</p>
          <div id="info_session_element_form_login_perdu_container_center_div">
            <a href="accounts/emailsignup/">
                <div>
                    Créer un compte
                </div>
            </a>
            <a href="/">
                <div>
                    Revinir à l'écran connexion
                </div>
            </a>
          </div>
    </div>
</div>