#container_erreur{
    width: 100%;
    height: 100vh;
    //div
    #msg_erreur_div{
        width: 90%;
        height: 140px;
        margin: auto;
        margin-top: 40px;
        text-align: center;
    }

}